{% extends "base.html" %}
{% block content%}
<div class="product">
    <div class="title">
        <h3>Dell Latitud 3400</h3>
        <p>I5 Ram 4G HDD IT</p>
        <p style="color: darkgray;
                 font-size: 25px;">6000 DH</p>
    </div>
    
    <img class="img" src="{{url_for('static' , filename ='images/img2.jpeg')}}" >
    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec erat interdum metus egestas elementum. Maecenas commodo porttitor leo eu egestas. Praesent diam tortor, interdum non efficitur vitae, dictum tempor justo. Phasellus fermentum massa laoreet varius faucibus. Ut finibus nec augue ac posuere. Integer mollis eget ligula eget molestie. Morbi placerat efficitur elit, sit amet eleifend neque tincidunt a. Curabitur placerat mi nec dolor facilisis, ac sagittis lectus dapibus. Cras eu euismod justo. Vestibulum luctus urna vel eleifend faucibus. Etiam volutpat ultrices volutpat. Vestibulum tristique sem vitae quam egestas dapibus.

        Nullam tincidunt ex sodales sem dapibus, id porta ipsum porttitor. Nullam ornare nibh ipsum, id sodales massa interdum quis. Suspendisse varius tempor tellus, a accumsan nisi porta ac. Aenean felis tellus, ultricies in efficitur nec, scelerisque non quam. Aliquam erat volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin ut pretium erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        
        Nullam id fermentum lorem. Ut venenatis eget turpis eu egestas. Donec nec viverra velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur ornare, velit eget semper laoreet, mauris urna laoreet mi, sed interdum ante mi et mi. Praesent blandit facilisis aliquam. Integer a nisi venenatis nisl egestas efficitur. Mauris ut orci molestie, vulputate eros gravida, porta erat. Maecenas imperdiet et purus sit amet hendrerit. Duis non risus interdum, lobortis leo vel, dictum nisl. Ut neque nisi, sollicitudin ut lacus nec, eleifend placerat lacus. Donec vitae lectus lobortis, condimentum dui quis, bibendum tortor. Vestibulum tincidunt ullamcorper nunc in rhoncus. Donec nec faucibus neque, eu malesuada justo.
        
        Fusce hendrerit non ligula nec eleifend. Aenean tempus mauris sed velit lacinia molestie. Nunc imperdiet fermentum elit, nec lobortis leo dictum id. Nunc a massa commodo, consequat sem in, porta nisi. Morbi tincidunt sodales ante a volutpat. Maecenas nec gravida ex. Fusce quam nisl, lacinia nec porttitor vitae, cursus eu justo. Proin porta mollis fringilla. Morbi pharetra accumsan turpis, a egestas tortor molestie sit amet. Etiam elit purus, condimentum quis volutpat non, suscipit nec erat.
        
        Nulla at ligula eget dui malesuada aliquet vitae vel urna. Etiam ultrices neque et tristique sodales. Fusce congue convallis cursus. Nunc ac ornare urna. Ut et accumsan velit. Donec augue nulla, egestas ac sapien nec, faucibus elementum metus. Fusce gravida sed nunc in ultricies. Duis a euismod lorem, id congue tortor. Duis in finibus est, eget tempor turpis. Nulla ac eros convallis, dictum orci vel, tempor massa. Nulla non tortor sed purus sagittis vehicula non in massa.</p>
</div>
{% endblock content%}
