*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.2)), url("../images/header/2.jpg") center/cover no-repeat;
    min-height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}
.header{
    background: linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.2)), url("../images/header/6.jpg") center/cover no-repeat;
    min-height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}
.serv_header{
    background: linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.2)), url("../images/header/8.jpg") center/cover no-repeat;
    min-height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}
.about_header{
    background: linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.2)), url("../images/header/5.jpg") center/cover no-repeat;
    min-height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
a{
    text-decoration: none;
}
.nav_bar{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 5px;
    transition: 0.2s all linear;
    background-color: rgb(39, 39, 39);
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    transition: 0.3s all linear;
    opacity: 1;
    padding: 0.2px;
    box-shadow: 4px 4px #ebe8e8;
}
.nav_bar_lien{
    display: flex;
    border: 2px solid white;
    width: 50%;
    height: auto;
    border: none;
    justify-content:space-between;
    align-items: center;
    margin-left: 40px;
}
.nav_bar_iteam{
    font-family: 'Barlow', sans-serif;
    border: 2px solid;
    width: 20%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: 0.5s all linear;
    color: white;
    text-decoration: none;
}
.nav_bar_iteam:hover{
    background-color: turquoise;
    transition: 0.5s all linear;
}
.title{
    font-family: 'Barlow', sans-serif;
    font-size: 100px;
    margin-top: 2%;
    margin-left: 4%;
    line-height: 100px;
    transition: 1s all linear;
}
.contact_title{
    font-family: 'Barlow', sans-serif;
    font-size: 100px;
    margin-top: 8%;
    margin-left: 4%;
    line-height: 100px;
    transition: 1s all linear;
    text-align: center;
}
.contact_mini_title{
    margin-top: 5%;
    font-family: 'Barlow', sans-serif;
    font-size: 50px;
    line-height: 60px;
}
.mini_title{
    font-family: 'Barlow', sans-serif;
    font-size: 50px;
}
.btn_1{
    padding: 12px 36px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    background-color: green;
    color: white;
    transition: 0.4s all linear;
}
.btn_2{
    padding: 12px 36px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: green;
    transition: 0.4s all linear;
}
.btn_1:hover{
    background-color: greenyellow;
    transition: 0.4s all linear;
}
.btn_2:hover{
    background-color: rgb(221, 221, 221);
    transition: 0.4s all linear;
}
.about{
    border: 1px solid black;
    width: 100%;
    height: auto;
    padding: 5% 5%;
    color: #cacaca;
    text-transform: uppercase;
    border: none;
}
.about_title{
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 30px;
    color: #444141;
    text-transform: uppercase;
    justify-content: center;
    border: none;
    font-size: 25px;
}
.about_image{
    border: 1px solid black;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8%;
    border: none;
}
.about_image_1,
.about_image_2,
.about_image_3{
    border: 1px solid black;
    width: 30%;
    height: 400px;
    border: none;
}
.about_border{
    border-radius: 12px;
}
.about_made{
    margin-left: 30px;
}
.cataloge{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}
.cataloge_1 ,.cataloge_2 ,.cataloge_3{
    border: 1px solid black;
    width: 30%;
    height: 360px;
    border-radius: 10px;
    box-shadow: 0 3px 53px rgb(40 40 40 / 5%); 
    border: none;
}
.cataloge_1:hover,
.cataloge_2:hover,
.cataloge_3:hover{
    background-color: green;
    transition: 0.3s all linear; 
}
.service{
    margin-top: 5%;
    border: 4px solid black;
    height: 600px;
    border: none;
}
.service_title{
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 30px;
    color: black;
    text-transform: uppercase;
    justify-content: center;
    border: none;
    font-size: 25px;
    margin-top: 5%;
}
.vedio{
    margin-top: 10%;
    border: 1px solid black;
    height: 400px;
    border: none;
}
.vedio_link_1{
    display: flex;
}
.vedio_link{
    border: 1px solid black;
    width: 50%;
    height: 350;
    margin: 30px;
    border: none;
}
.vedio_tag{
    border: 1px solid black;
    width: 50%;
    height: 350;
    border: none;
}
.vedio_tag_1,.vedio_tag_2{
    border: 1px solid black;
    height: 50%;
    text-align: center;
    border: none;
}
.footer{
    background-color: rgb(39, 39, 39);
    height: 500px;
    margin-top: 15%;
}
footer{
    background-color: rgb(58, 58, 58);
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: #ababab;
}
.footer_link{
    border: 2px solid white;
    height: 320px;
    display: flex;
    justify-content: space-around;
    border:none;
}
.footer_about{
    margin-top: 4%;
    border: 2px solid white;
    height: 250px;
    width: 350px;
    border: none;
}
.footer_useful{
    margin-top: 4%;
    border: 2px solid white;
    height: 250px;
    width: 180px;
    border: none;
}
.footer_service{
    margin-top: 4%;
    border: 2px solid white;
    height: 250px;
    width: 180px;
    border: none;
}
.footer_contact{
    margin-top: 4%;
    border: 2px solid white;
    height: 250px;
    width: 300px;
    border: none;
}
.footer_email{
    border: 1px solid white;
    height: 180px;
    display: flex;
    justify-content: space-around;
    border:none;
}
.footer_all{
    font-family: 'Barlow', sans-serif;
    color: white;
    font-size: xx-large;
}
.footer_info{
    line-height: 40px;
    font-size:larger;
    color: #ababab;
    text-transform: lowercase;
}
.footer_info_1{
    line-height: 50px;
    font-size:larger;
    color: #ababab;
}
.footer_text{
    border: 1px solid white;
    width: 45%;
    border:none;
}
.footer_input{
    border: 1px solid white;
    width: 45%;
    margin-top: 4%;
    text-align: center;
    border:none;
}
input[type = email]{
    border: none;
    outline: none;
    padding: 15px 60px 15px 70px;
    border-radius: 10px;
    font-size: 20px;
}
.icon{
    width: 40px;
    height: 40px;
}
h4{
    font-family: 'Barlow', sans-serif;
    font-size: 23px;
    text-align:start;
    line-height: 6vh;
    margin-top: 10px;
    margin-bottom: 10px;
    color: green;
}
h4:hover{
    color: white;
}
ul{
    color:gray;
    font-size: 15px;
    line-height: 5vh;
}
.icon_1{
   margin: 18% 12%;
}
.service_text{
    display: flex;
}
.service_text_1{
    border: 1px solid black;
    height: 420px;
    width: 45%;
    margin: 6% 4%;
    border: none;
}
.service_image{
    border: 1px solid black;
    height: 420px;
    width: 50%;
    margin: 6% 2%;
    border-radius: 5px;
    border: none;
}
.point{
    color: black;
    font-size: 17px;
    margin-top: 11%;
    line-height: 8vh;
    margin-left: 3%;
}
h2{
    font-family: 'Barlow', sans-serif;
    font-size: 6vh;
    color: green;
}
.shape path {
    fill: white;    
}
.contact_area{
    border: 1px solid black;
    height: 650px;
    margin-top: 7%;
    border: none;
}
.contact_all{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact_text{
    border: 1px solid black;
    height: 550px;
    width: 550px;
    font-family: 'Barlow', sans-serif;
    line-height: 50px;
    font-size: 14px;
    color: #444141;
    border: none;
}
.contact_location{
    border: 8px solid #ebe8e8;
    height: 550px;
    width: 650px;
    border-radius: 6px;
}
.contact_border{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    border: 1px solid black;
    background-color: #ebe8e8;
    font-family: 'Barlow', sans-serif;
    height: 60px;
    border: none;
}
input[type=text],textarea{
    background-color: white;
    border: 2px solid rgb(78, 163, 78);
    outline: none;
    border-radius: 6px;
    font-size: 18px;
    padding: 14px 16px;
    resize: none;
    width: 100%;
    box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}
input[type=submit]{
    padding: 12px 36px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    border-radius: 6px;
    border: none;
    background-color: green;
    color: white;
    transition: 0.4s all linear;
}
input[type=submit]:hover{
    background-color: rgb(51, 141, 51);
    transition: 0.4s all linear;
}
.about_all{
    border: 1px solid black;
    height: 420px;
    display: flex;
    margin-top: 10%;
    justify-content:center;
    border: none;
}
.about_file{
    border: 1px solid black;
    width: 40%;
    height: 500px;
    border: none;
}
.about_rate{
    border: 1px solid black;
    width: 50%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
}
.about_iteam{
    margin-top: 10px;
    border: 1px solid black;
    width: 46%;
    height: 200px;
    text-align: center;
    line-height: 70px;
    border: none;
}
.new_all{
    border: 1px solid black;
    height: 1300px;
    display: flex;
    justify-content: center;
    border: none;
    margin-top: 25px;
}
.new_all_1{
    margin-top: 25px;
    border: 1px solid black;
    height: 1500px;
    width: 90%;
    border: none;
}
.new_title{
    border: 1px solid black;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
}
.new_logo{
    border: 1px solid black;
    height: 400px;
    width: 25%;
    border: none;
}
.new_annon{
    border: 1px solid black;
    height: 400px;
    width: 72%;
    border: none;
}
.new_focus{
    border: 1px solid black;
    height: 60px;
    margin-top: 25px;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    color: #ababab;
    border: none;
    font-size: 25px;
}
.new_info{
    border: 1px solid black;
    height: 800px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    border: none;
    flex-wrap: wrap;
}
.new_info_left{
    border: 1px solid black;
    width: 25%;
    height: 800px;
    border: none;
}
.new_info_right{
    border: 1px solid black;
    width: 72%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
}
.new_info_right_1{
    border: 1px solid black;
    width: 32%;
    height: 24%;
    border: none;
}
.new_info_right_one{
    border: 1px solid black;
    width: 67%;
    height: 35%;
    border: none;
}
.new_footer{
    border: 1px solid black;
    margin-top: 25px;
    width: 100%;
    height: 160px;
    border: none;
}
.text_annon{
    border: 1px solid black;
    width: 100%;
    text-align: center;
    background-color: rgb(44, 40, 40);
    color: white;
    opacity: 0.6;
    font-family: 'Barlow', sans-serif;
    border: none;
    transition: 1s all linear;
    z-index: -11;
}
.carousel-cell{
    position: relative;
    text-align: center;
}
.check{
    position: absolute;
    top: 15px;
    left:15px
}