 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Body{
    
    display:flex;    
    justify-content: space-between;

}
.iteam{

    margin: 0px;

}

.title{

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color:white;
    border: 2px solid rgb(9, 9, 36);
    border-width: 50px;
    background-color: rgb(9, 9, 36);
}
.text{

    font-size: 18px;
    color: white;
    line-height: 29pt;
    background-color: rgb(31, 95, 95);
    border: 2px solid rgb(31, 95, 95);; 
    border-width: 40px;
    width: 350px ;
    height: 479px;

}

.write {

    position: fixed;
    margin-top: 100px;
    width: 550px;
    height: 200px;
    background-color: lightsteelblue;
    border-width: 10px;
    border-radius: 5%;

   
}

.chalenge{

    margin-top: 40px;
    font-size: 20px;
    border: 5px solid lightsteelblue;
    width: 550px;
    background-color: lightsteelblue;
    border-width: 12px;

}

.watch{

    color: white;
    font-size :50px;
    border: 2px solid rgb(31, 95, 95);
    background-color: rgb(31, 95, 95);
    border-width: 20px;
}


.button{

    margin-top: 150px;
    margin-left: 40px;
    color: white;
    font-size :40px;
    background-color: gray;
 
    border-width: 12px;
    border-radius: 15%;

}
.correct{

    transition: all 0.2s linear;
    border-color: green;
}

.incorrect{

    transition: all 0.2s linear;
    border-color: red;
}