{% extends "base.html" %}
{% block content %}
<header class="about_header">
    <div class="contact_title">
        <h5>à propos de nous</h5>
        <h3 class="contact_mini_title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem molestiae quo reprehenderit, quisquam ab et atque aut quas quod maiores temporibus</h3>
    </div>
</header>
<div class="contact_border">
    <h3 style="color: #ababab;margin-right: 20px;">Acceuil</h3> &#8250;<h3 style="margin-left: 20px;">A Propre</h3>
</div>
<div class="service">
    <div class="service_title">notre service</div>
    <div class="service_text">
        
        <div class="service_image">
            <img id="change" src="../static/images/service/1.jpg" style="height: 417px; width: 100%;" >
        </div>
        <div class="service_text_1">
            <div> 
                <h3 style="color: gray;">A PROPRE DE NOTRE SERVICE</h3><br>
                <h2>UN GRANDE SERVICE AVEC GRANDE CAPACITER</h2><br>
                <ul style="font-size: larger;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, iste. Culpa voluptates libero molestiae est unde eos. Eum fugiat error saepe animi, odio natus qui quidem obcaecati, ullam magni quod!</ul>
            </div>
            <div class="point">
                <h3><li>&#10003;Lorem ipsum, dolor sit amet consectetur adipisicing elit</li></h3>
                <h3><li>Lorem ipsum, dolor sit amet consectetur adipisicing elit</li></h3>
                <h3><li>Lorem ipsum, dolor sit amet consectetur adipisicing elit</li></h3>
            </div>
        </div>
    </div>
</div>
<div class="about_all">
    <div class="about_file">
        <h1 style="margin-top:15%;">Notre équipe offre une gamme d'avantages</h1>
        <div class="point">
            <h3><li>&#10003;Lorem ipsum, dolor sit amet consectetur adipisicing elit</li></h3>
            <h3><li>Lorem ipsum, dolor sit amet consectetur adipisicing elit</li></h3>
            <h3><li>Lorem ipsum, dolor sit amet consectetur adipisicing elit</li></h3>
        </div>
    </div>
    <div class="about_rate">
        <div class="about_iteam">
            <h3 style="font-size: 55px;font-family: 'Barlow', sans-serif;color: green;margin-top:50px;">1200+</h3>
            <h6 style="font-size: larger;color: #ababab;">Informations environnementales</h6>
        </div>
        <div class="about_iteam">
            <h3 style="font-size: 55px;font-family: 'Barlow', sans-serif;color: green;margin-top:50px;">1200+</h3>
            <h6 style="font-size: larger;color: #ababab;">Informations environnementales</h6>
        </div>
        <div class="about_iteam">
            <h3 style="font-size: 55px;font-family: 'Barlow', sans-serif;color: green;margin-top:50px;">1200+</h3>
            <h6 style="font-size: larger;color: #ababab;">Informations environnementales</h6>
        </div>
        <div class="about_iteam">
            <h3 style="font-size: 55px;font-family: 'Barlow', sans-serif;color: green;margin-top:50px;">1200+</h3>
            <h6 style="font-size: larger;color: #ababab;">Informations environnementales</h6>
        </div>
    </div>
</div>
{% endblock content %}