{% extends "base.html" %}
{% block content %}
<header class="header">
    <div class="contact_title">
        <h5>Nous Contacter</h5>
        <h3 class="contact_mini_title">Pour plus d'informations ou toute demande de renseignements</h3>
    </div>
</header>
<div class="contact_border">
    <h3 style="color: #ababab;margin-right: 20px;">Acceuil</h3> &#8250;<h3 style="margin-left: 20px;">Contact</h3>
</div>
<div class="contact_area">
    <h3 style="font-family: 'Barlow', sans-serif;text-align: center; font-size: 35px; margin-bottom: 6%;">Prenez contact avec nous</h3><br>
    <div class="contact_all">
        <div class="contact_text">
            <h3>Nom Complete</h3>
            <input type="text" required><br>
            <h3>Email Adresse *</h3>
            <input type="text" required><br>
            <h3>Message *</h3>
            <textarea id="" cols="30" rows="10" required></textarea>
            <input type="submit" value="Submit Message">
        </div>
        <div class="contact_location">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d694.8168865105625!2d-9.760952249887973!3d31.49744039089427!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdad9b0659863585%3A0xf6ddb53f8b5fb6e9!2sAppartement%20de%20vacance!5e0!3m2!1sfr!2sma!4v1626188304422!5m2!1sfr!2sma" width="636" height="536" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>



{% endblock content %}