{% extends "base.html" %}
{% block content %}
<div class="contact_border">
    <h3 style="color: #ababab;margin-right: 20px;">Acceuil</h3> &#8250;<h3 style="margin-left: 20px;">Annonce</h3>
</div>
<div class="new_all">
    <div class="new_all_1">
        <div class="new_title">
            <div class="new_logo"></div>
            <div class="new_annon"></div>
        </div>
        <div class="new_focus"></div>
        <div class="new_info">
            <div class="new_info_left"></div>
            <div class="new_info_right">
                <div class="new_info_right_one"></div>
                <div style="height: 35%;" class="new_info_right_1"></div>
                <div class="new_info_right_1"></div>
                <div class="new_info_right_1"></div>
                <div class="new_info_right_1"></div>
                <div class="new_info_right_1"></div>
                <div class="new_info_right_1"></div>
                <div class="new_info_right_1"></div>
                
            </div>
        </div>
        <div class="new_footer"></div>
    </div>
</div>
{% endblock content %}