{% extends "basic.html"%}
{% block content%}
    <div class="game">
        <div class="border">
            <div class="b_1">
                <div class="b_c">
                    <div class="b_c_1"><button class="btn_1">&#9733;</button></div>
                    <div class="b_c_2"><button class="btn_1">&#9733;</button></div>
                    <div class="b_c_3"><button class="btn_1">&#9733;</button></div>
                    <div class="b_c_4"><button class="btn_1">&#9733;</button></div>
                </div>
            </div>
            <div class="b_1_2">
                <div class="b_1_2_c"></div>
                <div class="b_1_2_c" style="color:rgb(56, 56, 240); font-size: 25px;">&#8595;</div>
                <div class="b_1_2_c"></div>
                <div class="b_1_2_c"></div>
                <div class="b_1_2_c" style="background-color:rgb(56, 56, 240);"></div>
                <div class="b_1_2_c" style="background-color:rgb(56, 56, 240);"></div>
                <div class="b_1_2_c" style="background-color: rgb(173, 173, 173);"><div class="no_touch"></div></div>
                <div class="b_1_2_c" style="background-color:rgb(56, 56, 240);"></div>
                <div class="b_1_2_c"></div>
                <div class="b_1_2_c"></div>
                <div class="b_1_2_c" style="background-color:rgb(56, 56, 240);"></div>
                <div class="b_1_2_c"></div>
                <div class="b_1_2_c"></div>
                <div class="b_1_2_c" style="background-color:rgb(56, 56, 240);"></div>
                <div class="b_1_2_c"></div>
                <div class="b_1_2_c"></div>
                <div class="b_1_2_c" style="background-color:rgb(56, 56, 240);"></div>
                <div class="b_1_2_c"></div>
                <div class="b_1_2_c"></div>
                <div class="b_1_2_c" style="background-color:rgb(56, 56, 240);"></div>
                <div class="b_1_2_c"></div>
            </div>
            <div class="b_2">
                <div class="b_c">
                    <div class="b_c_1"><button class="btn_2">&#10057;</button></div>
                    <div class="b_c_2"><button class="btn_2">&#10057;</button></div>
                    <div class="b_c_3"><button class="btn_2">&#10057;</button></div>
                    <div class="b_c_4"><button class="btn_2">&#10057;</button></div>
                </div>
            </div>
            <div class="b_2_3">
                <div class="b_2_3_c"></div>
                <div class="b_2_3_c" style="background-color: red;"></div>
                <div class="b_2_3_c"></div>
                <div class="b_2_3_c"></div>
                <div class="b_2_3_c"></div>
                <div class="b_2_3_c"></div>
                <div class="b_2_3_c"></div>
                <div class="b_2_3_c" style="color: red; font-size: 30px;">&#8594;</div>
                <div class="b_2_3_c" style="background-color: red;"></div>
                <div class="b_2_3_c" style="background-color: red;"></div>
                <div class="b_2_3_c" style="background-color: red;"></div>
                <div class="b_2_3_c" style="background-color: red;"></div>
                <div class="b_2_3_c" style="background-color: red;"></div>
                <div class="b_2_3_c" style="background-color: red;"></div>
                <div class="b_2_3_c"></div>
                <div class="b_2_3_c"></div>
                <div class="b_2_3_c" style="background-color: rgb(173, 173, 173);"><div class="no_touch"></div></div>
                <div class="b_2_3_c"></div>
                <div class="b_2_3_c"></div>
                <div class="b_2_3_c"></div>
                <div class="b_2_3_c"></div>
            </div>
            <div class="b_center">
                <div class="triangle-down"></div>
                <div class="triangle-right"></div>
                <div class="triangle-up"></div>
            </div>
            <div class="b_3_4">
                <div class="b_3_4_c"></div>
                <div class="b_3_4_c"></div>
                <div class="b_3_4_c"></div>
                <div class="b_3_4_c"></div>
                <div class="b_3_4_c" style="background-color: rgb(173, 173, 173);"><div class="no_touch"></div></div>
                <div class="b_3_4_c"></div>
                <div class="b_3_4_c"></div>
                <div class="b_3_4_c" style="background-color : yellow"></div>
                <div class="b_3_4_c" style="background-color : yellow"></div>
                <div class="b_3_4_c" style="background-color : yellow"></div>
                <div class="b_3_4_c" style="background-color : yellow"></div>
                <div class="b_3_4_c" style="background-color : yellow"></div>
                <div class="b_3_4_c" style="background-color : yellow"></div>
                <div class="b_3_4_c" style="color: rgb(196, 196, 0); font-size: 30px;">&#8592;</div>
                <div class="b_3_4_c"></div>
                <div class="b_3_4_c"></div>
                <div class="b_3_4_c"></div>
                <div class="b_3_4_c"></div>
                <div class="b_3_4_c"></div>
                <div class="b_3_4_c" style="background-color : yellow"></div>
                <div class="b_3_4_c"></div>
            </div>
            <div class="b_3">
                <div class="b_c">
                    <div class="b_c_1"><button class="btn_3">&#10050;</button></div>
                    <div class="b_c_2"><button class="btn_3">&#10050;</button></div>
                    <div class="b_c_3"><button class="btn_3">&#10050;</button></div>
                    <div class="b_c_4"><button class="btn_3">&#10050;</button></div>
                </div>
            </div>
            <div class="b_4_5">
                <div class="b_4_5_c"></div>
                <div class="b_4_5_c" style="background-color: green;"></div>
                <div class="b_4_5_c"></div>
                <div class="b_4_5_c"></div>
                <div class="b_4_5_c" style="background-color: green;"></div>
                <div class="b_4_5_c"></div>
                <div class="b_4_5_c"></div>
                <div class="b_4_5_c" style="background-color: green;"></div>
                <div class="b_4_5_c"></div>
                <div class="b_4_5_c"></div>
                <div class="b_4_5_c" style="background-color: green;"></div>
                <div class="b_4_5_c"></div>
                <div class="b_4_5_c"></div>
                <div class="b_4_5_c" style="background-color: green;"></div>
                <div class="b_4_5_c" style="background-color: rgb(173, 173, 173);"><div class="no_touch"></div></div>
                <div class="b_4_5_c" style="background-color: green;"></div>
                <div class="b_4_5_c" style="background-color: green;"></div>
                <div class="b_4_5_c"></div>
                <div class="b_4_5_c"></div>
                <div class="b_4_5_c" style="color: green;font-size: 30px;">&#8593;</div>
                <div class="b_4_5_c"></div>
            </div>
            <div class="b_4">
                <div class="b_c">
                    <div class="b_c_1"><button class="btn_4">&#934;</button></div>
                    <div class="b_c_2"><button class="btn_4">&#934;</button></div>
                    <div class="b_c_3"><button class="btn_4">&#934;</button></div>
                    <div class="b_c_4"><button class="btn_4">&#934;</button></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content%}